

.title {
  font-size: 80px;
  padding:80px 80px 0 0;
  
 
  
  color: white;

}
.subtitle {
  font-size: 30px;
  font-weight: bold;
  padding: 0 80px 80px 0;
}

.hero {
  height: 400px;
  width: 100%;
  background-image:  url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#headshot {
  width: 250px;
  height: 250px;
  margin: 20px 50px;
  
}

#living {
  margin: 0 50px 10px ;

}
#weather {
  margin: 0 0 0 60px;
}
#trails {
  margin: 0 60px 0 0;
}





.projects {

}



footer {
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
 .project-title {
  bottom: 8px;
  left: 8px;
 
  color: rgb(75, 6, 116);
  font-weight: bold;
  font-size: 16px;

}

 .project-github {
  bottom: 8px;
  right: 8px;
 
  color: rgb(75, 6, 116);
  font-weight: bold;
  font-size: 16px;
} 
/* .projects article {
  border: 8px solid rgb(43, 10, 43);
  width: 700px;
  padding: 10px;
  margin-top: 20px;
  display: inline-block;
} */

.projects {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.large-project, .small-projects  {
  position: relative;
  text-align: center;
  color: white;
  max-width:100%;}
  .small-projects {
    display: flex;
  }
  
  .dayplanner {
  position: relative;
    display: inline-block;
  }
  
  .weather {
  position: relative;
    display: inline-block;
  }

