

body {
    margin: 0 auto;
    background-color: rgb(247, 234, 247);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 1040px;
    justify-content:center;
    align-items: center;
    
}

nav {
    display: flex;
    justify-content: space-evenly;

}

#aboutme h3 {
    font-size: 40px;
    color:rgb(43, 10, 43);
    

}

#aboutme img {
    border-radius: 100%;
    margin-left: 20px;
    margin-top: 40px;
}

#aboutme {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

#aboutme article {
    border: 8px solid rgb(43, 10, 43);
    width: 500px;
    padding: 20px;
    
}

.projects-header {
    position: relative;
}

.projects h3 {
    writing-mode: vertical-rl;
text-orientation: upright;
    font-size: 40px;
    padding: 70px;
    text-align: center;
    
}

.projects article {
    border: 8px solid rgb(43, 10, 43);
    width: 700px;
    padding: 10px;
    margin-top: 20px;
    display: inline-block;
    

}

.projects {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   
}

.small-projects {
    padding: 2.2px;
}



@media only screen and (max-width: 768px) {
    .aboutme
    {
        display: flex;
        flex-wrap: wrap;
        flex: 0 50%;
        width:100%;} 
        
    }


    @media only screen and (max-width:) {
        
    }

    @media only screen and (max-width: 980px) {
        body {
            width:100%}
        }








